@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button onclick="window.location.href='https://localhost:7125/api/track';">
      Tracks
    </button>
    <button onclick="window.location.href='https://localhost:7125/api/customer';">
      Customers
    </button>
    <button onclick="window.location.href='https://localhost:7125/api/employee';">
      Employees
    </button>
    
</div>
 