@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>This pgae is used to test various securtiy settings</h1>
<a asp-action="RequiredAutheticated">Require any authenticated user</a> <br />
<a asp-action="RequiredAdmin">Required Admin</a> <br />
<a asp-action="RequiredUser">Required User</a> <br />
<a asp-action="Required18">Required 18</a> <br />
<a asp-action="Required21">Required 21</a> <br />