@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>You have succeded in accesing the resource</h1>
<a asp-action="">Back to test</a>