@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

this is the test view
<form asp-controller="User" asp-action="test">
    <input id=
</form>
