@{
    ViewData["Title"] = "Home Page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

<div class="text-center blogTitles">
   <h1 class="display-4">Welcome to our Blog</h1>
        <h3>-- Click on <a  asp-area="" asp-controller="Blogs" asp-action="Index">Blog</a> to open it  --</h3>

    <br />

    <a  asp-area="" asp-controller="Blogs" asp-action="Index">
        <button class="btn btn-info">
            Blog
        </button>
    </a>

</div>


