@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PartyRSVP.Models.GuestResponse
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank You</title>
</head>
<body>
    <div>
    <h1>Thanks, @Model.FullName()!</h1>
    <p id="paragraphThanks">If we need you to bring anything we will email you at @Model.Email</p>
    </div>

</body>
</html>
